[Unit]
Description=elePi adventure control daemon
After=network.target elepi-overlays-overlays

[Service]
ExecStart=/usr/bin/elepid
Restart=always
User=root

[Install]
WantedBy=multi-user.target