[Unit]
Description=Yummy yummy
After=systemd-journald.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=modprobe kfrag
ExecStart=/usr/bin/honeypot.sh
ExecStopPost=modprobe -r kfrag

[Install]
WantedBy=multi-user.target